# dependencies
/node_modules
/.pnp
.pnp.js

# generated
/.astro/
/dist/
/coverage

# misc
.DS_Store
*.pem
.vscode

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files
.env

# vercel
.vercel

# typescript
*.tsbuildinfo
